@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--reka-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--reka-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.1467 0.0041 49.31);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.1467 0.0041 49.31);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.1467 0.0041 49.31);
  --primary: oklch(0.8601 0.173 91.84);
  --primary-foreground: oklch(0.2854 0.0638 53.82);
  --secondary: oklch(0.97 0.0013 106.42);
  --secondary-foreground: oklch(0.2161 0.0061 56.04);
  --muted: oklch(0.97 0.0013 106.42);
  --muted-foreground: oklch(0.5534 0.0117 58.07);
  --accent: oklch(0.97 0.0013 106.42);
  --accent-foreground: oklch(0.2161 0.0061 56.04);
  --destructive: oklch(0.6368 0.2078 25.33);
  --destructive-foreground: oklch(0.9845 0.0013 106.42);
  --border: oklch(0.8601 0.173 91.84);
  --input: oklch(0.9232 0.0026 48.72);
  --ring: oklch(0.8601 0.173 91.84);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.8601 0.173 91.84);
  --sidebar-primary: oklch(0.97 0.0013 106.42);
  --sidebar-primary-foreground: oklch(0.8601 0.173 91.84);
  --sidebar-accent: oklch(0.97 0.0013 106.42);
  --sidebar-accent-foreground: oklch(0.8601 0.173 91.84);
  --sidebar-border: oklch(0.97 0.0013 106.42);
  --sidebar-ring: oklch(0.8601 0.173 91.84);
}

.dark {
  --background: oklch(0.1467 0.0041 49.31);
  --foreground: oklch(0.9845 0.0013 106.42);
  --card: oklch(0.1467 0.0041 49.31);
  --card-foreground: oklch(0.9845 0.0013 106.42);
  --popover: oklch(0.1467 0.0041 49.31);
  --popover-foreground: oklch(0.9845 0.0013 106.42);
  --primary: oklch(0.8601 0.173 91.84);
  --primary-foreground: oklch(0.2854 0.0638 53.82);
  --secondary: oklch(0.2 0 0);
  --secondary-foreground: oklch(0.9845 0.0013 106.42);
  --muted: oklch(0.8601 0.173 91.84 / 10%);
  --muted-foreground: oklch(0.7159 0.009 56.26);
  --accent: oklch(0.2 0 0);
  --accent-foreground: oklch(0.9845 0.0013 106.42);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.8601 0.173 91.84 / 20%);
  --input: oklch(0.8601 0.173 91.84 / 20%);
  --ring: oklch(0.8601 0.173 91.84);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.1467 0.0041 49.31);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.1467 0.0041 49.31);
  --sidebar-primary-foreground: oklch(0.8601 0.173 91.84);
  --sidebar-accent: oklch(0.1467 0.0041 49.31);
  --sidebar-accent-foreground: oklch(0.8601 0.173 91.84);
  --sidebar-border: oklch(0.8601 0.173 91.84);
  --sidebar-ring: oklch(0.8601 0.173 91.84);
}

@layer base {
  * {
    /* @apply border-border outline-ring/50; */
    @apply border-dashed;
    @apply border-primary/20;
  }
  body {
    > .container {
      padding: 2rem 0 0 0;
    }
  }
  button:not(:disabled),
  [type='submit']:not(:disabled) {
    cursor: pointer;
  }
  [type='submit'],
  .btn {
    font-size: var(--text-sm);
    line-height: var(--tw-leading, var(--text-sm--line-height));
    padding-block: calc(var(--spacing) * 2);
    padding-inline: calc(var(--spacing) * 4);
    font-weight: var(--font-weight-medium);

    display: inline-block;
  }
  .btn:not(.clear-margin) {
    margin-top: calc(var(--spacing) * 11);
  }
  [type='submit']:not(:disabled),
  .btn:not(:disabled) {
    color: var(--primary-foreground);
    background-color: var(--primary) !important;
  }
  [type='submit']:disabled,
  .btn:disabled {
    background-color: var(--border) !important;
    color: var(--color-background);
  }

  form legend {
    margin-block: calc(var(--spacing) * 5);
  }

  *::-webkit-scrollbar {
    width: 0.5rem;
  }

  *::-webkit-scrollbar-track {
    background: red;
  }

  *::-webkit-scrollbar-thumb {
    background: yellow;
    border-radius: 0.5rem;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: var(--primary) transparent;
  }
  /**************/
  /*** Layout ***/
  /**************/
  /* Base */
  #app {
    height: calc(100dvh - 3rem);
    overflow: hidden;
  }
  main {
    height: 100%;
    padding: calc(var(--spacing) * 10);
    overflow: auto;
    background-color: var(--secondary);
    width: 100%;
  }
  [data-slot='sidebar-wrapper'] {
    height: 100%;
    min-height: inherit !important;
  }

  .loader {
    width: 50px;
    --b: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 1px;
    background: conic-gradient(#0000 10%, var(--color-primary)) content-box;
    -webkit-mask:
      repeating-conic-gradient(#0000 0deg, #000 1deg 20deg, #0000 21deg 36deg),
      radial-gradient(farthest-side, #0000 calc(100% - var(--b) - 1px), #000 calc(100% - var(--b)));
    -webkit-mask-composite: destination-in;
    mask-composite: intersect;
    animation: l4 1s infinite steps(10);
  }
  .isLoading::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(var(--color-background), 0.2);
    @apply bg-background/80;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  @keyframes l4 {
    to {
      transform: rotate(1turn);
    }
  }

  /* Header */
  #skip-links {
    list-style: none;
    a {
      white-space: nowrap;
      top: 0;
      position: fixed;
      left: 0;
      opacity: 0;
    }
    a:focus {
      opacity: 1;
      background-color: white;
      padding: 0.5em;
      border: 1px solid black;
    }
  }
  .btn-cart {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3C!-- Icon from Huge Icons by Hugeicons - undefined --%3E%3Cg fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' color='%23888888'%3E%3Cpath d='m3.062 15.193l.365-2.071c.432-2.448.647-3.672 1.502-4.397S7.012 8 9.467 8h5.066c2.455 0 3.683 0 4.538.725s1.07 1.949 1.502 4.397l.365 2.071c.598 3.388.896 5.082-.023 6.195c-.92 1.112-2.62 1.112-6.017 1.112H9.102c-3.398 0-5.097 0-6.017-1.113s-.62-2.806-.023-6.194M7.5 8l.168-2.014a4.347 4.347 0 0 1 8.664 0L16.5 8'/%3E%3Cpath d='M15 11c-.13 1.413-1.434 2.5-3 2.5S9.13 12.413 9 11'/%3E%3C/g%3E%3C/svg%3E")
      no-repeat 0.5rem center / auto 1.5rem;
    padding-left: 2.6rem;
    padding-block: 0.5rem;
    display: block;
  }

  [data-sonner-toast] *:not(button) {
    width: 100%;
  }

  /* Footer */
  footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    padding-left: calc(var(--sidebar-width) + 1rem);
    padding-right: 1rem;
    height: 3rem;
    align-content: center;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
