# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules
client/node_modules/
server/node_modules/

# Environnement
client/*.local
client/.env
server/*.local
server/.env

# Dossiers de build
client/dist/
server/dist/
dist
dist-ssr
coverage

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.tsbuildinfo

# MacOS
.DS_Store

