#order-shipping-mode {
  h3[data-state='active'] button {
    border-width: 1px;
    border-style: dashed;
    border-color: var(--color-primary);
    color: var(--color-foreground);
  }
  [data-slot='tabs-content'] li {
    position: relative;
    span {
      font-size: 12px;
    }
    button {
      position: relative;
      &:is(:hover, :focus),
      &.selected {
        background-color: transparent;
        border-color: var(--color-primary);
      }
      &:is(:hover, :focus)&::before,
      &.selected::before {
        border-color: var(--color-primary);
        background-color: var(--color-primary);
      }
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 20px;
        width: 20px;
        height: 20px;
        border: 1px solid var(--border);
        border-radius: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
