.card {
  position: relative;
  isolation: isolate;

  a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .card-footer {
    z-index: 1;
  }

  &.detail,
  &.check,
  &.cart {
    border: 0;
    background-color: transparent;
    .img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }

  &.detail {
    margin-top: calc(var(--spacing) * 10);
    padding-left: calc(var(--spacing) * 100);
    width: var(--container-4xl);
    .img {
      width: calc(var(--spacing) * 100);
      height: 300px;
    }
    .card-footer {
      margin-top: calc(var(--spacing) * 10);
    }
  }

  &.cart,
  &.check {
    padding-left: calc(var(--spacing) * 30);
    .img {
      width: calc(var(--spacing) * 20);
      height: 100%;
      z-index: -2;
    }

    .price {
      text-align: right;
      font-weight: bold;
    }
  }

  &.cart {
    .nb-quantity {
      margin-left: calc(var(--spacing) * 7);
      padding-inline: calc(var(--spacing) * 13);
      anchor-name: --nbQuantity;
    }
    .group-quantity {
      button {
        background-color: var(--color-primary);
        width: 36px;
        height: 36px;
        position: absolute;
        position-anchor: --nbQuantity;
        top: anchor(50%);
        transform: translateY(-50%);
        color: var(--color-background);
        &.remove-quantity {
          left: anchor(left);
        }
        &.add-quantity {
          right: anchor(right);
        }
        &.delete-item {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3C!-- Icon from BoxIcons Solid by Atisa - https://creativecommons.org/licenses/by/4.0/ --%3E%3Cpath fill='%23000000' d='M6 7H5v13a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V7zm4 12H8v-9h2zm6 0h-2v-9h2zm.618-15L15 2H9L7.382 4H3v2h18V4z'/%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 1rem auto;
        }
      }
      + .delete-item {
        position: relative;
        &::before {
          content: '';
          width: 1px;
          height: 100%;
          position: absolute;
          top: 0;
          left: calc(var(--spacing) * 8 * -1);
          background-color: var(--color-border);
        }
      }
    }
  }

  &:not(&.detail):not(&.cart):not(&.check) {
    .price {
      position: absolute;
      top: 0;
      right: 0;
      background-color: transparent;
      padding-block: calc(var(--spacing) * 1);
      padding-inline: calc(var(--spacing) * 2);
    }
    img {
      padding: calc(var(--spacing) * 4);
      width: 100%;
      min-height: 250px;
      height: 250px;
      order: -9999;
    }
  }
}
