@reference "tailwindcss";
.card {
  .btn-icon {
    @apply w-[36px] h-[36px] bg-(--primary) text-(--color-background);
  }
  .stock-archived {
    @apply top-[5px] left-[5px];
    .stock {
      @apply text-xs max-w-[120px]  border bg-black/50;
    }
  }
  /********************/
  /*** catalog card ***/
  /********************/

  &.card-tpl {
    @apply relative isolate max-w-(--container-4xl);

    .card-header {
      a::before {
        @apply absolute top-[0] left-[0] w-full h-full content-[''];
      }
      .price {
        @apply absolute px-2 py-1 top-[0] right-[0] bg-transparent;
      }
    }

    .stock-archived {
      @apply absolute;
      .stock {
        @apply px-2 py-1;
      }
    }

    img {
      @apply p-4 w-full min-h-[250px] h-[250px] -order-1;
    }

    .card-footer {
      @apply z-1;
    }
  }

  /********************/
  /*** catalog grid ***/
  /********************/

  &.grid-tpl {
    @apply grid max-w-4xl p-5 grid-rows-[auto_auto_1fr_0] grid-cols-[repeat(8,_1fr)];
    .card-header {
      @apply row-start-1 row-end-2;
    }
    img {
      @apply row-start-1 row-end-5 col-start-1 col-end-2;
    }
    .card-content {
      @apply row-start-2 row-end-3;
    }
    .card-footer {
      @apply row-start-3 row-end-4;
    }
    .card-header,
    .card-content,
    .card-footer {
      @apply col-start-3 col-end-8;
    }
    .stock-archived {
      @apply text-center;
      .stock {
        @apply py-1 px-2;
      }
    }
  }

  /*********************/
  /*** Product sheet ***/
  /*********************/

  &.detail {
    .card-header {
      @apply mb-5;
    }
    .card-header,
    .card-content,
    .card-footer {
      @apply col-end-9;
    }
    img {
      @apply col-end-3;
    }
    .stock-archived {
      @apply absolute top-auto bottom-[5px];
    }
  }

  /*********************/
  /**** Cart - Admin ***/
  /*********************/

  &.cart,
  &.admin {
    .img {
      @apply max-h-[80px] w-full;
    }
  }

  /*********************/
  /**** Cart - check ***/
  /*********************/
  &.cart,
  &.check {
    .card-header,
    .card-content,
    .card-footer {
      @apply col-start-2 col-end-9;
    }
    .card-content {
      @apply line-clamp-1 overflow-hidden;
    }
    .stock-archived {
      @apply absolute top-auto bottom-[5px] w-[80px];
    }
  }

  /*********************/
  /******** Cart *******/
  /*********************/

  &.cart {
    .price {
      @apply font-bold;
    }
    .nb-quantity {
      @apply ml-7 px-13;
      anchor-name: --nbQuantity;
    }
    .group-quantity {
      button {
        position-anchor: --nbQuantity;
        top: anchor(50%);
        @apply absolute -translate-y-[50%];

        &.remove-quantity {
          left: anchor(left);
        }
        &.add-quantity {
          right: anchor(right);
        }
        &.delete-item {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3C!-- Icon from BoxIcons Solid by Atisa - https://creativecommons.org/licenses/by/4.0/ --%3E%3Cpath fill='%23000000' d='M6 7H5v13a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V7zm4 12H8v-9h2zm6 0h-2v-9h2zm.618-15L15 2H9L7.382 4H3v2h18V4z'/%3E%3C/svg%3E");
          @apply bg-no-repeat bg-center bg-size-[1rem_auto];
        }
      }
      + .delete-item {
        @apply relative;
        &::before {
          @apply absolute w-[1px] h-full top-0 content-[''] bg-(--color-border) -left-8;
        }
      }
    }
  }

  /*********************/
  /******** admin ******/
  /*********************/
  &.admin {
    .stock-txt {
      @apply absolute top-[50%] right-0 translate-x-[calc(100%+2rem)] -translate-y-[50%] ml-2  pb-2 pt-10 bg-no-repeat bg-position-[50%_8px] text-(--primary) bg-size-[2rem_auto] font-bold;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3C!-- Icon from Material Symbols by Google - https://github.com/google/material-design-icons/blob/master/LICENSE --%3E%3Cpath fill='%23facc15' d='M2.725 21q-.275 0-.5-.137t-.35-.363t-.137-.488t.137-.512l9.25-16q.15-.25.388-.375T12 3t.488.125t.387.375l9.25 16q.15.25.138.513t-.138.487t-.35.363t-.5.137zm1.725-2h15.1L12 6zM12 18q.425 0 .713-.288T13 17t-.288-.712T12 16t-.712.288T11 17t.288.713T12 18m0-3q.425 0 .713-.288T13 14v-3q0-.425-.288-.712T12 10t-.712.288T11 11v3q0 .425.288.713T12 15m0-2.5'/%3E%3C/svg%3E");
    }
    &.stock-alert,
    &.stock-null {
      @apply border-1 border-(--primary);
      .stock {
        @apply bg-red-700;
      }
    }
    &.stock-null {
      @apply bg-(--primary)/20;
    }
    @apply pl-2 pr-3 grid-cols-[auto_repeat(6,_1fr)_120px_auto];
    .id {
      @apply col-start-1 col-end-2 mr-4 row-start-1 row-end-4 place-content-center;
    }
    img {
      @apply col-start-2 col-end-3;
    }
    .stock-archived {
      @apply col-start-8 col-end-8 row-start-1 row-end-4 place-content-center pr-6;
      .archived {
        @apply mt-2;
      }
    }

    .card-footer {
      @apply z-1 col-start-10 col-end-10 row-start-1 row-end-4 m-0 content-center;
      .btn-icon {
        @apply size-10 bg-no-repeat bg-size-[auto_1.5rem] bg-center overflow-hidden relative;
        &.delete {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3C!-- Icon from Material Symbols by Google - https://github.com/google/material-design-icons/blob/master/LICENSE --%3E%3Cpath fill='currentColor' d='M5 21V6H4V4h5V3h6v1h5v2h-1v15zm2-2h10V6H7zm2-2h2V8H9zm4 0h2V8h-2zM7 6v13z'/%3E%3C/svg%3E");
        }
        &.patch {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3C!-- Icon from Material Symbols by Google - https://github.com/google/material-design-icons/blob/master/LICENSE --%3E%3Cpath fill='currentColor' d='M15.275 12.475L11.525 8.7L14.3 5.95l-.725-.725L8.1 10.7L6.7 9.3l5.45-5.475q.6-.6 1.413-.6t1.412.6l.725.725l1.25-1.25q.3-.3.713-.3t.712.3L20.7 5.625q.3.3.3.713t-.3.712zM6.75 21H3v-3.75l7.1-7.125l3.775 3.75z'/%3E%3C/svg%3E");
        }
      }
    }
  }
}
